body{
    background-color: skyblue;
}
#logo
{
    width: 45px;
    display: inline-block;
    position: fixed;
}
#heading{
    display: inline-block;
    align-items:stretch;
    color: rgb(255, 204, 0);
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(4, 68, 97);
    position: fixed;
}
#hText{
    margin-left: 40px;
    margin-top: 4px;
    position: relative;
}

tr{
    background-color:rgb(194, 231, 249);
    border: solid 5px skyblue;
}
td{
    border-style:none;
    border-width: 0px;
    padding: 3px;
}
table{
    border: none;
    font-family:calibri;
    border-width: 0px;
    border-collapse:collapse;
}
hr{
    height: 2px;
    background-color:rgb(194, 231, 249);
}