body{
    background-color: skyblue;
}
#logo
{
    width: 45px;
    display: inline-block;
    position: fixed;
}
#heading{
    display: inline-block;
    align-items:stretch;
    color: rgb(243, 132, 4);
    font-weight: bold;
    font-size: 25px;
}
#hText{
    margin-left: 40px;
    margin-top: 4px;
    position: relative;
}

tr{
    background-color: rgb(203, 225, 245);
}
td{
    border-style:none;
}
table{
    border: none;
}